body {
	font-size: 16px;
	color: #000;
	background-color: lightgray;
}
/* Header */
#header-nav {
	background-color: dimgray;
	border-radius: 0;
	border: 1px solid black;
}
#header-nav .container {
	margin-left: 15px;
}
.navbar-brand {
	padding-top: 25px;
}
.navbar-brand h1 {
	color: #000;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000;
	font-size: 2em;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .5;
}
.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

/* End Header */
#our-menu-title {
	font-size: 1.8em;
	font-weight: bold;
}
#description {
	background-color: dimgray;
}
#description p {
	margin-bottom: 0;
	font-size: 1.2em;
	font-weight: bold;
}
#nav-list a{
	color: black;
	text-align: center;
	font-weight: bold;
}

/* desktop and tablet */
@media (min-width: 768px) {
	#header-nav {
		height: 75px;
	}
}
/* xs devices */
@media (max-width: 479px) {

}

